--extra-index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/ # https://github.com/microsoft/onnxruntime/issues/21684

conformer
diffusers
gdown
gradio
grpcio
grpcio-tools
hydra-core
HyperPyYAML
inflect
librosa
lightning
matplotlib
modelscope
networkx
omegaconf
onnx
onnxruntime
openai-whisper
protobuf
pydantic
rich
soundfile
tensorboard
torch
torchaudio
uvicorn
wget
fastapi
fastapi-cli
WeTextProcessing
flask
flask_cors
